stats
wp-content/cache*
!.gitkeep

wp-config.php
sitemap.xml
*.DS_Store
*.swp
*._*
*.gz
*.mysql
*.sql
*.bz2
*.zip
*.tar
.sass-cache/
.wiki/
compass_app_log.txt
.deph/
.project
wp-content/themes/gifzone/node_modules